body {
    margin: 40px;
    background-color: #02a7f4;
}

.body2 {
    margin: 40px;
    background-color: white;
}

.btn {
    background-color: #4CAF50;
    font-family: clearSansRegular;
    /* Green */
    border: none;
    color: #02a7f4;
    padding:0px;
    text-align: center;
    width: 40%;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid #02a7f4;
    margin-left: 5px;
    margin-right: 5px;
}

.btn:hover {
    background-color: #02a7f4;
    color: white;
}

h1 {
    font-family: clearSansBold;
    font-size: 50px;
    color: black;
    text-align: center;
}

.loadingView {
    width: 300px;
    padding-bottom: 20px;
    position: absolute;
    color: white;
    font-family: clearSansRegular;
    font-size: 22px;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px;
    background-color: #02a7f4;
    border-radius: 20px;
}

.inputField {
    width: 90%;
    height: 20px;
    margin-top: 0px;
    padding: 8px 16px;
    font-family: clearSansRegular;
    text-align: left;
}

.inputFieldText {
    margin-bottom: 0px;
}

input {
    width: 30%;
    padding: 8px 16px;
    font-family: clearSansRegular;
    text-align: center;
}

@font-face {
    font-family: clearSansRegular;
    src: url(ClearSans-Regular.woff);
}

@font-face {
    font-family: clearSansBold;
    src: url(ClearSans-Bold.woff);
}

@font-face {
    font-family: clearSansBoldItalic;
    src: url(ClearSans-BoldItalic.woff);
}

@font-face {
    font-family: clearSansItalic;
    src: url(ClearSans-Italic.woff);
}

@font-face {
    font-family: clearSansLight;
    src: url(ClearSans-Light.woff);
}

.largeCard {
    width: 70%;
    background-color: white;
    padding: 16px;
    color: #4CAF50;
    font-family: clearSansRegular;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px 5px black;
    width: 40%;
    position: absolute;
    height: 300px;
    left: 40%;
    top: 40%;
    margin: -200px 0 0 -175px;
}

.deviceTitle {
    font-family: clearSansBold;
    font-size: 32px;
}

#loadButton {
    font-family: clearSansBold;
}

.deviceDetail {
    display: inline-block;
    width: 40%;
    margin-top: 100px;
    background-color: white;
    padding: 32px;
    color: black;
    font-family: clearSansRegular;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px 5px black;
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

.smallCard {
    width: 40%;
    background-color: white;
    padding: 16px;
    color: #4CAF50;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px 5px black;
}

.hoverButtonLight {
    background-color: #4CAF50;
    font-family: clearSansRegular;
    /* Green */
    border: none;
    color: #02a7f4;
    padding: 10px 14px;
    text-align: center;
    width: 40%;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    border: 2px solid #02a7f4;
    margin: 5px;
}

.hoverButtonLight:hover {
    background-color: #02a7f4;
    color: white;
}

.hoverButtonDark {
    background-color: #02a7f4;
    font-family: 'Exo', sans-serif;
    /* Green */
    color: white;
    padding: 10px;
    text-align: center;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid white;
    margin-top: 30px;
}

.hoverButtonDark:hover {
    background-color: white;
    color: #02a7f4;
}

.leftCard {
    width: 43%;
    color: #4CAF50;
    font-family: OrbitronRegular;
    font-size: 20px;
    margin: 0px;
    float: left;
}

.rightCard {
    width: 43%;
    color: #4CAF50;
    margin: 0px;
    float: right;
}
